@import url("./common.css");
#app {
  min-width: 1280px;
  min-height: 800px;
  width: 100vw;
  height: 100vh;
  background: #202644; }

.answer:hover {
  cursor: pointer; }

.answer {
  position: absolute;
  width: 464px;
  height: 38px;
  left: 140px;
  border-radius: 15px; }

.answer:first-child {
  top: 131px;
  background: #d9c8ff; }

.answer:last-child {
  top: 190px;
  background: #b3b9f1; }
