::-webkit-scrollbar {
  display: none; }

div {
  user-select: none;
  cursor: default; }

img {
  -webkit-user-drag: none; }

body {
  margin: 0;
  padding: 0;
  background-color: #202644; }

@font-face {
  font-family: D2coding;
  src: url("../../src/font/D2Coding.ttc"); }

#app {
  width: 100vw;
  height: 100vh;
  background: #202644;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15vh;
  align-items: center; }

.question-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 70vw;
  height: 70vh;
  max-width: 850px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  border-radius: 15px; }
  .question-window > .header {
    background-color: #302a2f;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    position: relative; }
    .question-window > .header > div {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 7px;
      left: 7px;
      border-radius: 8px; }
    .question-window > .header > div:nth-of-type(1) {
      background-color: #ff5f57; }
    .question-window > .header > div:nth-of-type(2) {
      background-color: #feff2e;
      left: 30px; }
    .question-window > .header > div:nth-of-type(3) {
      background-color: #27c740;
      left: 55px; }
  .question-window > .question-content {
    width: 100%;
    position: absolute;
    top: 30px;
    background-color: #3c4043;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .question-window > .question-content > div:nth-of-type(2) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50%;
      justify-content: space-around; }
    .question-window > .question-content span {
      font-family: D2coding;
      font-size: 30px;
      font-weight: 400;
      color: #57d87b; }

.question-title {
  font-family: D2coding;
  font-size: 26px;
  font-weight: 400;
  color: #57d87b;
  width: 68%;
  padding-top: 30px; }

.answer {
  border-radius: 30px;
  width: 70%;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: D2coding;
  font-size: 20px;
  font-weight: 400;
  color: #57d87b;
  color: white; }
  .answer:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46); }

.answer:first-child {
  background: #cab1ff; }

.answer:last-child {
  background: #a1abff; }

.pagenation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  background-color: #302a2f; }
  .pagenation > div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    font-family: D2coding;
    font-size: 20px;
    font-weight: 400;
    color: #57d87b; }
  

  #start-title{
    color:#57d87b; 
  }

  #ascii-art{
    color:#57d87b; 
  }
  #start-button{
    width:400px;
    height:40px;
    border: solid 1px #57d87b;
    cursor: pointer;
    font-family: D2coding;
    color:#57d87b; 
    text-align: left;
    padding-left:10px;
    padding-bottom: 15px;
  }