::-webkit-scrollbar {
	display: none;
}

div {
	user-select: none;
	cursor: default;
}

img {
	-webkit-user-drag: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #202644;
}

@font-face {
	font-family: D2coding;
	src: url("../../src/font/D2Coding.ttc");
}

@mixin flex($row: center, $col: center, $direction: row) {
	display: flex;
	justify-content: $row;
	align-items: $col;
	flex-direction: $direction;
}

@mixin size($width: 100%, $height: 100%) {
	width: $width;
	height: $height;
}

@mixin font($size: 48px, $weight: 400, $color: #57d87b) {
	font-family: D2coding;
	font-size: $size;
	font-weight: $weight;
	color: #57d87b;
}

$COLOR-TEXT: #57d87b;
