@import "./common.scss";

#app {
	width: 100vw;
	height: 100vh;
	background: #202644;

	display: flex;
	flex-direction: column;
	position: relative;
	top: 15vh;
	align-items: center;
}

.question-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;

	width: 70vw;
	height: 70vh;
	max-width: 850px;

	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
	border-radius: 15px;

	& > .header {
		background-color: rgb(48, 42, 47);
		border-radius: 10px;
		height: 50px;
		width: 100%;
		display: flex;
		position: relative;

		& > div {
			position: absolute;
			width: 15px;
			height: 15px;
			top: 7px;
			left: 7px;
			border-radius: 8px;
		}

		& > div:nth-of-type(1) {
			background-color: rgb(255, 95, 87);
		}

		& > div:nth-of-type(2) {
			background-color: rgb(254, 288, 46);
			left: 30px;
		}

		& > div:nth-of-type(3) {
			background-color: rgb(39, 199, 64);
			left: 55px;
		}
	}

	& > .question-content-position {
		@include size();
		@include flex();
		background-color: rgb(60, 64, 67);

		& > .question-content {
			width: 100%;
			position: absolute;
			top: 30px;
			height: 90%;
	
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
	
			& > .question-button {
				width: 100%;
				display: flex;
				visibility: hidden;
				flex-direction: column;
				align-items: center;
				height: 50%;
				justify-content: space-around;
			}
	
			& span {
				@include font(30px);
			}
		}
	}
} 

.question-title {
	@include font(26px);
	width: auto;
	padding-top: 30px;
}

.answer {
	border-radius: 30px;
	width: 70%;
	height: 70px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	@include font(20px, 400, white);
	color: white;

	&:hover {
		-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
		box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
	}
}
.answer:first-child {
	background: #cab1ff;
}
.answer:last-child {
	background: #a1abff;
}

.pagenation {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	border-radius: 15px;
	background-color: rgb(48, 42, 47);

	& > div {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 5px;
		@include font(20px);
	}
}
