@import "./common.scss";

#app {
	min-width: 1280px;
	min-height: 800px;
	width: 100vw;
	height: 100vh;
	background: #202644;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	width: 70vw;
	height: 70vh;

	& > .header {
		background-color: rgb(55, 54, 56);
		height: 30px;
		width: 100%;
	}
}

.answer:hover {
	cursor: pointer;
}

.answer {
	border-radius: 15px;
}

.answer:first-child {
	top: 131px;
	background: #d9c8ff;
	// font-
}
.answer:last-child {
	top: 190px;
	background: #b3b9f1;
}
